$gray: #F3F2F0;
$black: #232326;

.custom-select {
    &-opener {
        background-color: rgba($gray, 0.1);
        padding: 2rem;
        color: $gray;
        margin-bottom: 4rem;
        height: 6.5rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after {
            content: '';
            display: inline-block;
            background-image: url(../../src/images/arrowselect.svg);
            height: 2rem;
            width: 3rem;
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.6s;
        }
    }

    &-panel {
        background-color: $black;
    }

    &-option {
        background-color: rgba($gray, 0.1);
        cursor: pointer;
        color: rgba($gray, 0.4);
        padding-left: 2rem;

        &:nth-last-child(1) {
            padding-bottom: 1.7rem;
        }
    }
}

// .custom-select-container.is-open .custom-select-panel {
//     overflow-y: hidden;
//     max-height: 17.3rem;
// }

.custom-select-option.has-focus {
    background-color: rgba($gray, 0.1);
    color: $gray;
}

.custom-select-container.is-open .custom-select-opener::after {
    transform: rotateZ(180deg);
}
// .custom-select-container {
//     ::-webkit-scrollbar {
//         width: 0;
//         /* width of the entire scrollbar */
//     }

//     ::-webkit-scrollbar-track {
//         background-color: transparent;
//         /* color of the tracking area */
//     }

//     ::-webkit-scrollbar-thumb {
//         background-color: transparent;
//         /* color of the scroll thumb */
//         border-radius: 20px;
//         /* roundness of the scroll thumb */
//         border: 0;
//         /* creates padding around scroll thumb */
//     }
// }