@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('../../node_modules/custom-select/build/custom-select.css');

$font-inter: 'Inter', sans-serif;

$gray: #F3F2F0;
$black: #232326;
$red: #D40000;
$white: #FFFFFF;
$bg-gray: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);

$r_desk_hd: 1200px;
$r_desk: 1000px;
$r_tab: 768px;

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px; 
}

body {
    color: $gray;
    font-family: $font-inter;
    font-size: 1.4rem;
    background-color: $black;
    @media (max-width: $r_desk_hd) {
        font-size: calc((100vw - 340px)/(1140 - 340) * (14 - 10) + 10px);
    }
    &.lock {
        @media (max-width: $r_tab) {
        overflow: hidden;
        }
    }
}
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: $r_desk_hd) {
        max-width: 95vw;
    }
    @media (max-width: $r_tab) {
        max-width: 90vw;
    }
}
.section .active {
    height: 400px;
	background: #337AB7;
	color: #FFF;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $black;
    z-index: 3;
    width: 100%;
    @media (max-width: $r_tab) {
        font-size: 1.4rem;
    }
}
.header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 4.5rem 0 4.5rem;
    @media (max-width: $r_tab) {
        display: none;
    }
    @media (max-width: $r_desk) {
        margin: 2.5rem 0 2.5rem;
    }
    &__footer {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
    &__nav {
        display: flex;
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        gap: 2.85rem;
        & li.active {
            color: $red;
            transition: 0.2s;
        }
        &_tab {
            & a {
                font-size: 24px;
            }
            @media (max-width: $r_tab) {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                gap: 0;
                & li {
                    text-align: center;
                    width: 100%;
                    border-bottom: 1px solid rgba($gray, 0.2);
                    padding-bottom: 20px;
                    padding-top: 20px;
                    &:nth-child(1) {
                        border-top: 1px solid rgba($gray, 0.2);
                    }
                }
            }
        }
    }
    &__navigation {
        display: flex;
    }
    &__item {
        cursor: pointer;
        text-decoration: none;
        color: $gray;
        &:hover {
            color: $red;
            transition: 0.2s;
        }
    }
    &_tab {
        display: none;
        @media (max-width: $r_tab) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        & .header__navigation {
            width: 100%;
        }
    }
}
.navigation__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &.active {
        top: 0;
    }
    @media (max-width: $r_tab) {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 80%;
        background-color: $black;
        padding: 80px 40px 10px;
        transition: all 0.4s ease 0s;
        overflow: auto;
    }
    & .contact {
        font-size: 14px;
        &_heading {
            font-size: 12px;
        }
    }
}
.header-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 6rem auto 3rem;
    flex-wrap: wrap;
    & .contact {
        order: 1;
    }
    @media (max-width: $r_tab) {
        justify-content: center;
        gap: 3rem;
    }
}
.heading {
    border-bottom: 1px solid $gray;
    padding-bottom: 5.5rem;
    margin-top: 12.8rem;
    @media (max-width: $r_desk) {
        margin-top: 6.8rem;
    }
}
.contact {
    display: flex;
    gap: 2.2rem;
    justify-content: space-between;
    align-items: flex-end;
    &__center {
        align-items: center;
    }
    &_heading {
        gap: 5.4rem;
        text-transform: capitalize;
        font-size: 1.6rem;
        @media (max-width: $r_desk_hd) {
            font-size: calc((100vw - 340px)/(1140 - 340) * (16 - 12) + 12px);
        }
    }
    &_form {
        @media (max-width: $r_desk) {
            display: none;
        }
    }
    &_tab {
        display: none;
        @media (max-width: $r_desk) {
            display:inherit;
            margin: 0 auto;
        }
    }
    &__link {
        text-decoration: none;
        color: $gray;
        display: flex;
        align-items: center;
        transition: 0.2s;
        &:hover {
            color: $red;
        }
        &::before {
            content: "";
            display: inline-block;
            background: rgba($gray, 0.5);
            width: 2px;
            height: 2.4rem;
            pointer-events: none;
            position: relative;
            left: -1rem;
        }
        &:nth-child(1)::before {
            opacity: 0;
        }
        &_heading {
            &::before {
                left: -2.6rem;
            }
            &:hover {
                text-shadow: $black 1px 1px 0, $black -1px -1px 0, 
                $black -1px 1px 0, $black 1px -1px 0;
            }
        }
    }
}
.man {
    &__cover {
        width: 100%;
        height: 31rem;
        position: relative;
        overflow: hidden;
        margin-bottom: 12.5rem;
        @media (max-width: $r_desk) {
            margin-bottom: 8.5rem;
            height: calc((100vw - 340px) / 800 * 95 + 215px);
        }
    }
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 31rem;
        object-fit: cover;
        @media (max-width: $r_desk) {
            height: calc((100vw - 340px)/(1140 - 340) * (310 - 215) + 215px);
        }
    }
    &__description {
        & .description-h3 {
            margin-bottom: 4rem;
        }
        & .description-h1 {
            margin-bottom: 9.9rem;
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.description-h3 {
    font-size: 2.8rem;
    margin: 0;
    font-weight: 400;
    @media (max-width: $r_desk_hd) {
        font-size: calc((100vw - 340px)/(1140 - 340) * (28 - 18) + 18px);
    }
    &_block {
        display: block;
    }
    &_rate {
        line-height: 4.1rem;
        @media (max-width: $r_tab) {
            line-height: inherit;
        }
    }
}
.description-h1 {
    font-size: 7.4rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin: 0;
    &_portfolio {
        letter-spacing: 0;
        position: relative;
        z-index: 1;
        margin-bottom: 15rem;
    }
    @media (max-width: $r_desk_hd) {
        font-size: calc((100vw - 340px)/(1140 - 340) * (74 - 28) + 28px);
    }
    @media (max-width: $r_tab) {
        margin-bottom: 10rem;
    }
}
.project-discussion_btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $gray;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.75;
    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 0%;
        background-color: $gray;
        transition: width 0.4s ease-in-out;
    }
    &:hover::after {
        width: 100%;
    }
    & img {
        width: 15px;
        margin-left: 15px;
    }
    @media (max-width: $r_desk_hd) {
        font-size: calc((100vw - 340px)/(1140 - 340) * (16 - 12) + 12px);
    }
}
.triangle {
    background: transparent;
    position: relative;
    &::after {
        content:''; 
        position: absolute;
        left: -151px;
        bottom: -50px;
        border: 34px solid transparent;
        border-bottom: 70px solid $white;
        @media (max-width: $r_desk_hd) {
            left: 0;
            top: 143px;
            border: 16px solid transparent;
            border-bottom: 35px solid $white;
        }
    }
    &_2 {
        &::after {
            left: -180px;
            bottom: -94px;
        }
    }
}
.circle {
    background: transparent;
    position: relative;
    &::after {
        content:''; 
        position: absolute;
        color: $red;
        border-radius: 100%;
        background-color: $red;
        z-index: -1;
    } 
    &_1 {
        &::after {
            left: -128px;
            top: -60px;
            width: 25.4rem;
            height: 25.4rem;
            @media (max-width: $r_desk_hd) {
                width: calc((100vw - 340px)/(1140 - 340) * (254 - 135) + 135px);
                height: calc((100vw - 340px)/(1140 - 340) * (254 - 135) + 135px);
            }
        }
    }
    &_2 {
        &::after {
            right: 38px;
            bottom: -38px;
            width: 10.6rem;
            height: 10.6rem;
            @media (max-width: $r_desk_hd) {
                width: calc((100vw - 340px)/(1140 - 340) * (106 - 60) + 60px);
                height: calc((100vw - 340px)/(1140 - 340) * (106 - 60) + 60px);
            }
        }
    }
    &_3 {
        &::after {
            right: 330px;
            top: -93px;
            width: 46.5rem;
            height: 46.5rem;
            z-index: 0;
            @media (max-width: $r_desk_hd) {
                width: calc((100vw - 340px)/(1140 - 340) * (465 - 197) + 197px);
                height: calc((100vw - 340px)/(1140 - 340) * (465 - 197) + 197px);
            }
            @media (max-width: $r_desk) {
                right: 0;
                top: -138px;
            }
        }
    }
    &_4 {
        &::after {
            left: -71px;
            top: -51px;
            width: 14.0rem;
            height: 14.0rem;
        }
    }
    &_5 {
        &::after {
            left: -152px;
            top: -32px;
            width: 30.0rem;
            height: 30.0rem;
            @media (max-width: $r_desk_hd) {
                width: calc((100vw - 340px)/(1140 - 340) * (300 - 190) + 190px);
                height: calc((100vw - 340px)/(1140 - 340) * (300 - 190) + 190px);
                left: -66px;
                top: -14px;
            }
        }
    }
}
.about {
    margin-top: 6.4rem;
    border-bottom: 1px solid $gray;
    padding-bottom: 6.2rem;
    @media (max-width: $r_desk_hd) {
        padding-bottom: calc((100vw - 340px)/(1140 - 340) * (62 - 45) + 45px);
    }
    &-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: $r_desk) {
            grid-template-columns: repeat(2, 1fr);
            gap: 3.3rem 2.7rem;
        }
        &__item {
            display: flex;
            flex-direction: column;
            gap: 1.4rem;
        }
    }
}
.item-name {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    @media (max-width: $r_desk_hd) {
        font-size: calc((100vw - 340px)/(1140 - 340) * (16 - 12) + 12px);
    }
    &_l {
        font-size: 2.8rem;
        line-height: 4.1rem;
        @media (max-width: $r_desk_hd) {
            font-size: calc((100vw - 340px)/(1140 - 340) * (28 - 16) + 16px);
        }
    }
    &_uppercase {
        text-transform: uppercase;
    }
    &_ls {
        letter-spacing: 0.03em;
    }
    &_conditions {
        font-weight: 600;
        line-height: 1.9rem;
    }
}
.item-description {
    margin: 0;
    line-height: 2.1rem;
    opacity: 0.8;
}
.item-price {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 6.3rem;
    margin: 0;
    @media (max-width: $r_desk_hd) {
        font-size: calc((100vw - 340px)/(1140 - 340) * (42 - 22) + 22px);
        line-height: inherit;
    }
    
}
.description {
    &_size-l {
        font-size: 2.8rem;
        line-height: 4.1rem;
        opacity: 0.8;
        margin: 0;
        @media (max-width: $r_desk_hd) {
            font-size: calc((100vw - 340px)/(1140 - 340) * (28 - 16) + 16px);
        }
    }
    &_size-m {
        font-size: 1.6rem;
        line-height: 2.4rem;
        opacity: 0.8;
        margin: 0;
        @media (max-width: $r_desk_hd) {
            font-size: calc((100vw - 340px)/(1140 - 340) * (16 - 12) + 12px);
        }
    }
}
.about-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 18.3rem;
    @media (max-width: $r_desk) {
        margin-top: calc((100vw - 340px)/(1140 - 340) * (183 - 77) + 77px);
    }
    @media (max-width: $r_tab) {
        flex-wrap: wrap;
    }
    &__item {
        &_description {
            flex-basis: 56rem;
        }
    }
}
.quality {
    display: flex;
    flex-basis: 56rem;
    justify-content: flex-end;
    margin-top: 6.2rem;
    border-bottom: 1px solid $gray;
    padding-bottom: 17.8rem;
    @media (max-width: $r_desk) {
        padding-bottom: calc((100vw - 340px)/(1140 - 340) * (178 - 65) + 65px);
        display: block;
    }
    &-grid {
        display: grid;
        grid-template-columns: 22rem 27rem;
        gap: 6.3rem 7rem;
        @media (max-width: $r_desk) {
            grid-template-columns: repeat(2, 1fr);
            gap: 3.3rem 2.7rem;
        }
    }
    &-flex__row {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }
}
.order {
    margin-bottom: 9rem;
    &__list {
        list-style: none;
        counter-reset: num; 
        margin:  0;
        padding: 0;
        font-size: 2.8rem;
        display: flex;
        flex-direction: column;
        @media (max-width: $r_desk_hd) {
            font-size: calc((100vw - 340px)/(1140 - 340) * (28 - 16) + 16px);
        }
        &_li {
            counter-increment: num;
            position: relative;
            margin: 30px 0px 29px 70px;
            padding: 0 0 0 0;
            line-height: 4.2rem;
            &::before {
                content: counter(num) ".";
                position: absolute;
                left: -70px;
                top: 0;
                @media (max-width: $r_tab) {
                    left: -40px;
                }
            }
            &:nth-child(-n+3):before {
                content: "0" counter(num);
            }
            @media (max-width: $r_tab) {
                margin: 15px 0px 15px 40px;
                height: 4rem;
                line-height: 2.4rem;
            }
        }
        &_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $gray;
            &_description {
                flex-basis: 49%;
            }
        }
    }
}
.actions-list {
    padding-left: 1.4rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    & li {
        list-style-type:"– ";
    }
}
.portfolio {
    margin-top: 9.2rem;
    &-instruments {
        margin-top: 18rem;
        @media (max-width: $r_desk) {
            margin-top: calc((100vw - 340px)/(1140 - 340) * (180 - 65) + 65px);
        }
        @media (max-width: $r_tab) {
            margin-top: 8rem;
        }   
    }
    &-item {
        background-image: $bg-gray;
        background-size: cover;
        &__flex {
            display: flex;
            justify-content: space-between;
            padding-top: 6.2rem;
            padding-bottom: 5.8rem;
            border-bottom: 1px solid $gray;
            @media (max-width: $r_desk) {
                flex-direction: column;
                gap: 4rem;
            }
        }
        &__description {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            justify-content: center;
            @media (max-width: $r_desk) {
                width: calc((100vw - 340px)/(1140 - 340) * (564 - 320) + 320px);
                margin: 0 auto;
            }
        }
        &__screen {
            display: flex;
            flex-basis: 56rem;
            @media (max-width: $r_desk) {
                flex-basis: 100%;
            }
        }
        &__cover {
            width: 100%;
            height: 31.5rem;
            position: relative;
            overflow: hidden;
            @media (max-width: $r_desk) {
                height: calc((100vw - 340px)/(1140 - 340) * (315 - 190) + 190px);
            }
        }
        &__image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 31.5rem;
            object-fit: contain;
            @media (max-width: $r_desk) {
                height: calc((100vw - 340px)/(1140 - 340) * (315 - 190) + 190px);
            }
        }
    }
    &-action {
        padding-top: 18rem;
        padding-bottom: 7.9rem;
        border-bottom: 1px solid $gray;
        @media (max-width: $r_desk_hd) {
            padding-top: 12rem;
            padding-bottom: 6rem;
        }
        @media (max-width: $r_desk) {
            padding-top: 8rem;
            padding-bottom: 4rem;
        }
        & p {
            max-width: 87rem;
            line-height: 4.2rem;
        }
    }
}
.conditions {
    &-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 8rem 2rem;
        margin-top: 8rem;
        @media (max-width: $r_desk) {
            grid-template-columns: repeat(2,1fr);
            gap: 5rem 5rem;
        }
        @media (max-width: $r_tab) {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-size: 1.2rem;
            margin-top: 4rem;
        }
    }
    &-flex {
        display: flex;
        gap: 3.5rem;
        align-items: center;
    }
    &-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
.instruments {
    &-grid {
        display: inline-grid;
        grid-template-columns: repeat(4,1fr);
        width: 100%;
        position: relative;
    }
    &-item {
        mix-blend-mode: luminosity;
        cursor: pointer;
        border: 1px solid rgba($gray, 0.5);
        height: 14.8rem;
        width: 100%;
        display: block;
        &:hover {
            mix-blend-mode: normal;
            border: 1px solid rgba($gray, 1);
        }
        @media (max-width: $r_desk_hd) {
            height: calc((100vw - 340px)/(1140 - 340) * (148 - 45) + 45px);
        }
    }
    &__cover {
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__picture {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
        width: 107px;
        height: 80px;
        @media (max-width: $r_desk_hd) {
            height: calc((100vw - 340px)/(1140 - 340) * (80 - 25) + 25px);
            width: calc((100vw - 340px)/(1140 - 340) * (107 - 32) + 25px);
        }
    }
}
.rate-flex {
    &__item {
        display: flex;
        justify-content: space-between;
        margin-top: 18rem;
        margin-bottom: 8rem;
        position: relative;
        @media (max-width: $r_tab) {
            margin-top: 10rem;
        }
        &:nth-child(even) {
            &::after {
                content:''; 
                position: absolute;
                color: $red;
                border-radius: 100%;
                background-color: $red;
                z-index: -1;
                left: 47%;
                bottom: 14%;
                width: 9rem;
                height: 9rem;
                @media (max-width: $r_desk_hd) {
                    height: calc((100vw - 340px)/(1140 - 340) * (90 - 40) + 40px);
                    width: calc((100vw - 340px)/(1140 - 340) * (90 - 40) + 40px);
                }   
            }
        }
        @media (max-width: $r_desk_hd) {
            flex-wrap: wrap;
            gap: 4rem;
        }
        &_contacts {
            margin-top: 12rem;
            margin-bottom: 0;
            padding-bottom: 6rem;
            border-bottom: 1px solid $gray;
            &::after {
                display: none;
            }
            @media (max-width: $r_desk) {
                flex-direction: column;
                gap: 4rem;
                margin-top: 8rem;
            }
        }
        &_form {
            padding-bottom: 13rem;
            margin-top: 4.3rem;
            border: none;
            @media (max-width: $r_desk) {
                max-width: 70%;
                margin: 4rem auto 0;
                padding-bottom: 8rem;
                gap: 8rem;
            }
        }
        &_desc {
            max-width: 56rem;
            @media (max-width: $r_desk) {
                max-width: 100%;
            }
        }
        &_price {
            margin: 0;
            padding: 6.2rem 0rem;
            border-top: 1px solid $gray;
            flex-wrap: nowrap;
        }
    }
}
.rate {
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 34%;
        align-items: flex-start;
        gap: 4.3rem;
        @media (max-width: $r_desk) {
            flex-basis: 50%;
        }
        &_text {
            display: flex;
            flex-direction: column;
            gap: 2.3rem;
        }
        & ul {
            padding-left: 1.6rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0;
        }
    }
    &__price {
        flex-basis: 49%; 
        @media (max-width: $r_desk) {
            flex-basis: 50%;
        }
    }
}
.form {
    flex-basis: 49%;
    color: rgba($gray, 0.8);
    &__item {
        margin-top: 2.3rem;
    }
    &__label {
        font-size: 1.2rem;
        display: block;
        margin-bottom: 1rem;
        opacity: 0.8;
        @media (max-width: $r_desk_hd) {
            font-size: calc((100vw - 340px)/(1140 - 340) * (12 - 10) + 10px);
        }
    }
    &__input {
        height: 6.5rem;
        padding: 2rem;
        width: 100%;
        font-size: 1.2rem;
        transition: all 0.5s ease 0s;
        border: none;
        background-color: rgba($gray, 0.1);
        color: rgba($gray, 1);
        &:focus {
            box-shadow: 0 0 15px rgba($red, 0.5);
        }
        @media (max-width: $r_desk_hd) {
            font-size: calc((100vw - 340px)/(1140 - 340) * (12 - 10) + 10px);
        }
    }
    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 6.5rem;
        background-color: $red;
        color: $gray;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.4rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s ease 0s;
        position: relative;
        top: 0;
        &:hover {
            background-color: #EA0E00;
        }
        &:active {
            top: 3px;
        }
        @media (max-width: $r_desk_hd) {
            font-size: calc((100vw - 340px)/(1140 - 340) * (16 - 12) + 12px);
        }
    }
}
.form * {
    outline: none;
}
.footer {
    &__information {
        border-top: 1px solid $gray;
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__text {
        font-size: 1.2rem;
        color: rgba($gray, 0.3);
        &_author {
            & a {
                color: rgba($gray, 0.3);
                transition: all 0.3s ease 0s;
                &:hover {
                    color: rgba($gray, 1);
                }
            }
        }
        @media (max-width: $r_desk_hd) {
            font-size: calc((100vw - 340px)/(1140 - 340) * (12 - 10) + 10px);
        }
    }
}

.menu__icon {
    display: none;
    @media (max-width: $r_tab) {
        display: block;
        z-index: 5;
        position: relative;
        width: 26px;
        height: 20px;
        cursor: pointer;
        &::after,
        &::before,
        & span {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.4s ease 0s;
            background-color: $gray;
        }
        &::after,
        &::before {
            content: "";
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        & span {
            top: 50%;
        }
        &.active {
            &::before {
                transform: rotate(45deg);
                top: 45%;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 45%;
            }
            & span {
                transform: scale(0);
            }
        }
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: rgba($gray, 1);
    transition: background-color 5000s ease-in-out 0s;
    font-family: $font-inter;
}

